
.item{
    background: #777;    
    text-align: center;
}


.carousel-caption{
    text-align: left;
    background: #999; 
    margin: 25% 30% 10% 10%;
    opacity: 0.9;
}
.item a{
   margin-left: 25%;
   margin-top: 5%;
    
}